<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.com.usinasantafe.pem">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MenuInicialActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".zxing.CaptureActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="ScanBar"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:windowSoftInputMode="stateAlwaysHidden">
            <intent-filter>
                <action android:name="com.google.zxing.client.android.SCAN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".EntregadorLeitorActivity" />
        <activity android:name=".EntregadorDigActivity" />
        <activity android:name=".RecebedorLeitorActivity" />
        <activity android:name=".RecebedorDigActivity" />
        <activity android:name=".OSActivity" />
        <activity android:name=".DescrOSActivity" />
        <activity android:name=".ItemOSDigActivity" />
        <activity android:name=".ItemOSListaActivity" />
        <activity android:name=".ProdutoLeitorActivity" />
        <activity android:name=".ProdutoDigActivity" />
        <activity android:name=".QtdeProdutoActivity"></activity>
    </application>

</manifest>